In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("train.csv")

In [4]:
columnas = df.columns.tolist()
print(columnas)

['ID', 'PERIODO_ACADEMICO', 'E_PRGM_ACADEMICO', 'E_PRGM_DEPARTAMENTO', 'E_VALORMATRICULAUNIVERSIDAD', 'E_HORASSEMANATRABAJA', 'F_ESTRATOVIVIENDA', 'F_TIENEINTERNET', 'F_EDUCACIONPADRE', 'F_TIENELAVADORA', 'F_TIENEAUTOMOVIL', 'E_PRIVADO_LIBERTAD', 'E_PAGOMATRICULAPROPIO', 'F_TIENECOMPUTADOR', 'F_TIENEINTERNET.1', 'F_EDUCACIONMADRE', 'RENDIMIENTO_GLOBAL', 'INDICADOR_1', 'INDICADOR_2', 'INDICADOR_3', 'INDICADOR_4']

In [13]:
Epd = df['E_PRGM_DEPARTAMENTO'].value_counts()
print('estudiantes por departamento/ciudad :\n', 
      Epd)

estudiantes por departamento/ciudad :
 E_PRGM_DEPARTAMENTO
BOGOTÁ             282159
ANTIOQUIA           83607
VALLE               44588
ATLANTICO           41020
SANTANDER           28828
NORTE SANTANDER     22588
BOLIVAR             20629
BOYACA              14048
CUNDINAMARCA        14018
NARIÑO              13454
RISARALDA           12679
CORDOBA             12188
TOLIMA              11921
CALDAS              11640
CAUCA               11471
HUILA                9995
MAGDALENA            9512
SUCRE                8674
CESAR                8279
QUINDIO              8229
META                 7910
LA GUAJIRA           4778
CHOCO                4289
CAQUETA              2659
CASANARE             1852
PUTUMAYO              795
ARAUCA                589
AMAZONAS               40
GUAVIARE               37
VAUPES                 14
SAN ANDRES             10
Name: count, dtype: int64

In [15]:
print(df['RENDIMIENTO_GLOBAL'].unique())

['medio-alto' 'bajo' 'alto' 'medio-bajo']

In [19]:
mapa_rendimiento = {
    'bajo': 1,
    'medio-bajo': 2,
    'medio-alto': 3,
    'alto': 4
}

media_rendimiento = (
    df.groupby('E_PRGM_DEPARTAMENTO')['RENDIMIENTO_GLOBAL']
    .apply(lambda x: x.map(mapa_rendimiento).mean())
)

print('rendimiento promedio por localidad: \n\n', 
      media_rendimiento.sort_values(ascending=False))

rendimiento promedio por localidad:

 E_PRGM_DEPARTAMENTO
CUNDINAMARCA       2.930732
CALDAS             2.764519
SANTANDER          2.734286
BOYACA             2.686361
ANTIOQUIA          2.667600
VALLE              2.590944
RISARALDA          2.568105
BOGOTÁ             2.557381
QUINDIO            2.477336
ATLANTICO          2.454778
VAUPES             2.357143
META               2.357143
NARIÑO             2.353352
MAGDALENA          2.305614
TOLIMA             2.297710
BOLIVAR            2.281788
CAUCA              2.278093
NORTE SANTANDER    2.211838
HUILA              2.211606
CASANARE           2.147948
CESAR              2.118009
CORDOBA            2.110519
CAQUETA            2.058293
SUCRE              1.972908
ARAUCA             1.787776
AMAZONAS           1.775000
PUTUMAYO           1.723270
LA GUAJIRA         1.692758
GUAVIARE           1.621622
SAN ANDRES         1.400000
CHOCO              1.364421
Name: RENDIMIENTO_GLOBAL, dtype: float64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 692500 entries, 0 to 692499
Data columns (total 21 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   ID                           692500 non-null  int64
 1   PERIODO_ACADEMICO            692500 non-null  int64
 2   E_PRGM_ACADEMICO             692500 non-null  object
 3   E_PRGM_DEPARTAMENTO          692500 non-null  object
 4   E_VALORMATRICULAUNIVERSIDAD  686213 non-null  object
 5   E_HORASSEMANATRABAJA         661643 non-null  object
 6   F_ESTRATOVIVIENDA            660363 non-null  object
 7   F_TIENEINTERNET              665871 non-null  object
 8   F_EDUCACIONPADRE             669322 non-null  object
 9   F_TIENELAVADORA              652727 non-null  object
 10  F_TIENEAUTOMOVIL             648877 non-null  object
 11  E_PRIVADO_LIBERTAD           692500 non-null  object
 12  E_PAGOMATRICULAPROPIO        686002 non-null  object
 13  F_TIENECOMPUTADOR            654397 non-null  object
 14  F_TIENEINTERNET.1            665871 non-null  object
 15  F_EDUCACIONMADRE             668836 non-null  object
 16  RENDIMIENTO_GLOBAL           692500 non-null  object
 17  INDICADOR_1                  692500 non-null  float64
 18  INDICADOR_2                  692500 non-null  float64
 19  INDICADOR_3                  692500 non-null  float64
 20  INDICADOR_4                  692500 non-null  float64
dtypes: float64(4), int64(2), object(15)
memory usage: 111.0+ MB

In [22]:
print('valores faltantes en cada columna')
df.isnull().sum().sort_values(ascending=False)

valores faltantes en cada columna

F_TIENEAUTOMOVIL               43623
F_TIENELAVADORA                39773
F_TIENECOMPUTADOR              38103
F_ESTRATOVIVIENDA              32137
E_HORASSEMANATRABAJA           30857
F_TIENEINTERNET                26629
F_TIENEINTERNET.1              26629
F_EDUCACIONMADRE               23664
F_EDUCACIONPADRE               23178
E_PAGOMATRICULAPROPIO           6498
E_VALORMATRICULAUNIVERSIDAD     6287
INDICADOR_3                        0
INDICADOR_2                        0
INDICADOR_1                        0
RENDIMIENTO_GLOBAL                 0
ID                                 0
E_PRIVADO_LIBERTAD                 0
PERIODO_ACADEMICO                  0
E_PRGM_DEPARTAMENTO                0
E_PRGM_ACADEMICO                   0
INDICADOR_4                        0
dtype: int64